src/xsd/BanqueService.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion, getCompte, getComptes)>
<!ELEMENT Compte (code, solde, dateCreation)>
<!ELEMENT conversion (montant)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT getComptes (Compte+)> 
<!ELEMENT montant (#PCDATA)>

<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>
 


